
    .fullbody{
        margin:0;
        padding:0;
        background-color: #161c24
    }
    .allstuff { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
    .h1bank {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 2;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #161c24
    }
    .mainform {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: rgb(168, 160, 160);
    box-shadow: 0 0 10px 0 #cc0052; 
    }
    .banner {
    position: relative;
    height: 210px;
    background-image: url("/public/images/1.jpeg");      
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4); 
    position: absolute;
    width: 100%;
    height: 100%;
    }
    .inputstuff {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 10px);
    padding: 5px;
    }
    .textareastuff {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 12px);
    padding: 5px;
    }
    .item:hover p, input:hover::placeholder {
    color: #cc0052;
    }
    .item input:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #cc0052;
    color: #cc0052;
    }
    .item {
    position: relative;
    margin: 10px 0;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    .buttonstuff {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #8a7575;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    .buttonstuff:hover {
    background: #ff0066;
    }
    @media (min-width: 568px) {
    .name-item, .contact-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .contact-item .item {
    width: calc(50% - 8px);
    }
    .name-item input {
    width: calc(50% - 20px);
    }
    .contact-item input {
    width: calc(100% - 12px);
    }
    }