.group-41 {
  align-items: center;
  display: flex;
  min-width: 615px;
}

.overlap-group-6 {
  align-items: center;
  background-color: var(--winter-sky);
  border-radius: 32px/24px;
  display: flex;
  height: 48px;
  min-width: 64px;
  padding: 0 16.0px;
}

.icon-bar_chart {
  height: 24px;
  width: 32px;
}

.intuitive-design {
  letter-spacing: 0;
  margin-left: 21px;
  margin-top: 1.0px;
  min-height: 23px;
  width: 528px;
}

.group-41.group-40 {
  margin-top: 24px;
}

