.buttons-primary-icon {
  align-items: center;
  background-color: var(--blue);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 27px;
  padding: 16px 48px;
  width: min-content;
}

.frame-250 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.try-it-free-2 {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 166px;
  text-align: center;
}

.icons-solid-right {
  height: 20px;
  min-width: 20px;
}

